body {
    background-color: #caceff;
}

#title,
.course,
h2,
p,
footer {
    font-family: Verdana;
}

#title,
.course,
footer {
    margin-left: 15px;
    margin-right: 15px;
}

#title {
    padding: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #4120a9;
}

.course {
    margin-bottom: 15px;
    padding: 10px;
    border-style: inset;
    background-color: #ffffff;
}

button {
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    background-color: #A16AE8;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
    padding: 15px;
    font-size: 15px;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background-color: #4120A9;
}